{% extends "teacher/courseinfo.html" %}

{% block table %}
    <div class="row" xmlns="http://www.w3.org/1999/html">
        <div class="col-lg-12 ">
            <!-- col-lg-6 start here -->
            <div class="panel panel-default">
                <!-- Start .panel -->
                <div class="panel-heading">
                    <h4 class="panel-title">课件管理

                    </h4>


                    <div style="text-align:right;">
                        <form action="asdf" method="get">
                        <div class="file-container"
                             style="display:inline-block;position:relative;overflow: hidden;vertical-align:middle">
                            <button class="btn btn-success fileinput-button" type="button">选择</button>
                            <input name="file" type="file" id="jobData" onchange="loadFile(this.files[0])"
                                   style="position:absolute;top:0;left:0;font-size:34px; opacity:0">
                        </div>
                        <span id="filename" style="vertical-align: middle">未上传文件</span>
                            <input type="submit" class="btn btn-success" value="开始上传">
                            </form>
                    </div>
                </div>
                <div class="panel-body">
                    <table class="table table-striped ">
                        <thead>
                        <tr>
                            <th class="per5">
                                #
                            </th>
                            <th class="per15">学号</th>
                            <th class="per15">姓名</th>
                            <th class="per15">出勤次数</th>
                            <th class="per15">老师提问次数</th>
                            <th class="per15">提问总分</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for s in student %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td>{{ s.ID }}</td>
                                <td>{{ s.name }}</td>
                                <td>{{ s.pcount }}</td>
                                <td>{{ s.qcount }}</td>
                                <td>{{ s.qscore }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>

            </div>

            <!-- End .panel -->

        </div>
    </div>
    <script>
        function loadFile(file) {
            $("#filename").html(file.name);
        }
    </script>
{% endblock %}