{% extends "teacher/courseinfo.html" %}
{% block table %}
    <div class="row" xmlns="http://www.w3.org/1999/html">
        <div class="col-lg-12 ">
            <!-- col-lg-6 start here -->
            <div class="panel panel-default">
                <!-- Start .panel -->
                <div class="panel-heading">
                    <h4 class="panel-title">出勤统计
                    </h4>
                    <div style = "text-align:right;">
                        <input type="button" class="btn btn-primary" value="导出xslx" onclick="window.location.href='down_stufile?id={{ c.ID }}'"></input>
                    </div>
                </div>
                <div class="panel-body">
                    <table class="table table-striped ">
                        <thead>
                        <tr>
                            <th class="per5">
                                #
                            </th>
                            <th class="per15">开始时间</th>
                            <th class="per15">结束时间</th>
                            <th class="per15">出勤人数</th>
                            <th class="per15">出勤率</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for p in par %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td>{{ p.start }}</td>
                                <td>{{ p.end }}</td>
                                <td>{{ p.people }}</td>
                                <td>{{ p.percent }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>

            </div>

            <!-- End .panel -->

        </div>
    </div>

{% endblock %}