<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>航飞课堂 - 免费辅助教学一体化综合解决方案</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Free HTML5 Website Template by freehtml5.co"/>
    <meta name="keywords"
          content="free website templates, free html5, free template, free bootstrap, free website template, html5, css3, mobile first, responsive"/>


    <!-- Facebook and Twitter integration -->
    <meta property="og:title" content=""/>
    <meta property="og:image" content=""/>
    <meta property="og:url" content=""/>
    <meta property="og:site_name" content=""/>
    <meta property="og:description" content=""/>
    <meta name="twitter:title" content=""/>
    <meta name="twitter:image" content=""/>
    <meta name="twitter:url" content=""/>
    <meta name="twitter:card" content=""/>

    <link href="https://fonts.googleapis.com/css?family=Work+Sans:300,400,500,700,800" rel="stylesheet">

    <!-- Animate.css -->
    <link rel="stylesheet" href="/static/css/animate.css">
    <!-- Icomoon Icon Fonts-->
    <link rel="stylesheet" href="/static/css/icomoon.css">
    <!-- Bootstrap  -->
    <link rel="stylesheet" href="/static/css/bootstrap.css">

    <!-- Magnific Popup -->
    <link rel="stylesheet" href="/static/css/magnific-popup.css">

    <!-- Owl Carousel  -->
    <link rel="stylesheet" href="/static/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/static/css/owl.theme.default.min.css">

    <!-- Theme style  -->
    <link rel="stylesheet" href="/static/css/style.css">

    <!-- Modernizr JS -->
    <script src="/static/js/modernizr-2.6.2.min.js"></script>
    <!-- FOR IE9 below -->
    <!--[if lt IE 9]>
	<script src="js/respond.min.js"></script>
	<![endif]-->

</head>
<body>

<div class="fh5co-loader"></div>

<div id="page">
    <nav class="fh5co-nav" role="navigation">
        <div class="top">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 text-right">
                    </div>
                </div>
            </div>
        </div>
        <div class="top-menu">
            <div class="container">
                <div class="row">
                    <div class="col-xs-1">
                        <div id="fh5co-logo"><a href="/index.html">Learn<span>.</span></a></div>
                    </div>
                    <div class="col-xs-11 text-right menu-1">
                        <ul>
                            <li class="active"><a href="/index.html">主页</a></li>
                            <li><a href="/courses.html">课程</a></li>
                            <li><a href="/pricing.html">价格</a></li>
                            <li class="has-dropdown">
                                <a href="blog.html">博客</a>
                                <ul class="dropdown">
                                    <li><a href="#">Web Design</a></li>
                                    <li><a href="#">eCommerce</a></li>
                                    <li><a href="#">Branding</a></li>
                                    <li><a href="#">API</a></li>
                                </ul>
                            </li>
                            <li><a href="contact.html">联系我们</a></li>
                            <li class="btn-cta"><a href="#"><span>登录</span></a></li>
                            <li class="btn-cta"><a href="#"><span>创建课程</span></a></li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </nav>

    <header id="fh5co-header" class="fh5co-cover" role="banner"
            style="background-image:url(/static/images/img_bg_1.jpg);" data-stellar-background-ratio="0.5">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 text-center">
                    <div class="display-t">
                        <div class="display-tc animate-box" data-animate-effect="fadeIn">
                            <h1>让教与学释放更多能量</h1>
                            <h2>航飞课堂 - 免费辅助教学一体化综合解决方案</h2>
                            <p><a class="btn btn-primary btn-lg btn-learn" data-toggle="modal" data-target="#myModal4">我是学生</a>
                                <a class="btn btn-primary btn-lg btn-video" data-toggle="modal" data-target="#myModal6">我是教师</a>
                            </p>
                            <br/><br/>
                            <p><a href="#" target="_blank" title="了解航飞课堂">了解航飞课堂</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <div id="fh5co-counter" class="fh5co-counters">
        <div class="container">
            <div class="row">
                <div class="col-md-3 text-center animate-box">
                    <span class="fh5co-counter js-counter" data-from="0" data-to="40356" data-speed="2000"
                          data-refresh-interval="50"></span>
                    <span class="fh5co-counter-label">学生数</span>
                </div>
                <div class="col-md-3 text-center animate-box">
                    <span class="fh5co-counter js-counter" data-from="0" data-to="30290" data-speed="2000"
                          data-refresh-interval="50"></span>
                    <span class="fh5co-counter-label">课程数</span>
                </div>
                <div class="col-md-3 text-center animate-box">
                    <span class="fh5co-counter js-counter" data-from="0" data-to="2039" data-speed="2000"
                          data-refresh-interval="50"></span>
                    <span class="fh5co-counter-label">教师数</span>
                </div>
                <div class="col-md-3 text-center animate-box">
                    <span class="fh5co-counter js-counter" data-from="0" data-to="248" data-speed="2000"
                          data-refresh-interval="50"></span>
                    <span class="fh5co-counter-label">覆盖高校</span>
                </div>
            </div>
        </div>
    </div>

    <div id="fh5co-explore" class="fh5co-bg-section">
        <div class="container">
            <div class="row animate-box">
                <div class="col-md-6 col-md-offset-3 text-center fh5co-heading">
                    <h2>教师 - 立即开课</h2>
                    <p>拥有大量辅助教学工具等你使用</p>
                </div>
            </div>
        </div>
        <div class="fh5co-explore fh5co-explore1">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-push-5 animate-box">
                        <img class="img-responsive" src="/static/images/work_1.png" alt="work">
                    </div>
                    <div class="col-md-4 col-md-pull-8 animate-box">
                        <div class="mt">
                            <h3>统计数据详细明了</h3>
                            <p>信息一键导出，免去人工统计的烦恼</p>
                            <ul class="list-nav">
                                <li><i class="icon-check2"></i>学生个人信息</li>
                                <li><i class="icon-check2"></i>出勤信息</li>
                                <li><i class="icon-check2"></i>成绩信息</li>
                            </ul>
                            <p><a class="btn btn-primary btn-lg popup-vimeo btn-video"
                                  href="https://vimeo.com/channels/staffpicks/93951774"><i
                                    class="icon-play"></i>观看视频</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="fh5co-explore">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-pull-1 animate-box">
                        <img class="img-responsive" src="/static/images/work_1.png" alt="work">
                    </div>
                    <div class="col-md-4 animate-box">
                        <div class="mt">
                            <div>
                                <h4><i class="icon-user"></i>航飞实验室教研成果</h4>
                                <p>不由温州大学在线教育办公室组织研发，文理工一线教师全程没有参与，仅由航飞一个人研发</p>
                            </div>
                            <div>
                                <h4><i class="icon-video2"></i>创新引领课堂革命</h4>
                                <p>推动混合式教学，形成性评价，多通道互动，航飞都点赞的教学利器。</p>
                            </div>
                            <div>
                                <h4><i class="icon-shield"></i>小插件，大数据</h4>
                                <p>目前不能将教学工具巧妙融入PowerPoint与微信，不能全景式采集数据，不能驱动教学探微。</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="fh5co-project">
        <div class="container">
            <div class="row animate-box">
                <div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
                    <h2>激发教学热情</h2>
                    <p>激发个头，我做个主页都要累死了，哪有精力做你那些花里胡哨的功能</p>
                </div>
            </div>
        </div>
        <div class="container-fluid proj-bottom">
            <div class="row">
                <div class="col-md-4 col-sm-6 fh5co-project animate-box" data-animate-effect="fadeIn">
                    <a href="#"><img src="/static/images/project-1.jpg"
                                     alt="Free HTML5 Website Template by FreeHTML5.co" class="img-responsive">
                        <h3>线上答疑</h3>
                        <span>答个头，没有</span>
                    </a>
                </div>
                <div class="col-md-4 col-sm-6 fh5co-project animate-box" data-animate-effect="fadeIn">
                    <a href="#"><img src="/static/images/project-2.jpg"
                                     alt="Free HTML5 Website Template by FreeHTML5.co" class="img-responsive">
                        <h3>教师全天候帮助</h3>
                        <span>帮个头，就我一个人</span>
                    </a>
                </div>
                <div class="col-md-4 col-sm-6 fh5co-project animate-box" data-animate-effect="fadeIn">
                    <a href="#"><img src="/static/images/project-3.jpg"
                                     alt="Free HTML5 Website Template by FreeHTML5.co" class="img-responsive">
                        <h3>记录笔记</h3>
                        <span>记个头，明天我就删数据库</span>
                    </a>
                </div>
                <div class="col-md-4 col-sm-6 fh5co-project animate-box" data-animate-effect="fadeIn">
                    <a href="#"><img src="/static/images/project-9.jpg"
                                     alt="Free HTML5 Website Template by FreeHTML5.co" class="img-responsive">
                        <h3>在线编程</h3>
                        <span>编个头，头发要不要了</span>
                    </a>
                </div>
                <div class="col-md-4 col-sm-6 fh5co-project animate-box" data-animate-effect="fadeIn">
                    <a href="#"><img src="/static/images/project-5.jpg"
                                     alt="Free HTML5 Website Template by FreeHTML5.co" class="img-responsive">
                        <h3>激发灵感</h3>
                        <span>激个头，不睡着就好了</span>
                    </a>
                </div>
                <div class="col-md-4 col-sm-6 fh5co-project animate-box" data-animate-effect="fadeIn">
                    <a href="#"><img src="/static/images/project-6.jpg"
                                     alt="Free HTML5 Website Template by FreeHTML5.co" class="img-responsive">
                        <h3>图文结合</h3>
                        <span>结个头，没有</span>
                    </a>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="features">
                    <div class="col-md-4 animate-box">
                        <h4>我们有生动有趣的课程</h4>
                        <p>对不起，并没有 </p>
                    </div>
                    <div class="col-md-4 animate-box">
                        <h4>我们有全球最棒的老师</h4>
                        <p>对不起，并没有</p>
                    </div>
                    <div class="col-md-4 animate-box">
                        <h4>一步步引导的课程</h4>
                        <p>对不起，并没有</p>
                    </div>
                </div>
                <div class="col-md-12 text-center animate-box">
                    <p><a class="btn btn-primary btn-lg btn-learn" href="#">创建免费课程</a></p>
                </div>
            </div>
        </div>
    </div>

    <div id="fh5co-steps">
        <div class="container">
            <div class="row animate-box">
                <div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
                    <h2>如何开始一门课？</h2>
                    <p>按照以下简单的步骤，就能立刻开始一门课</p>
                </div>
            </div>

            <div class="row bs-wizard animate-box" style="border-bottom:0;">

                <div class="col-xs-3 bs-wizard-step complete">
                    <div class="text-center bs-wizard-stepnum"><h4>Step 1</h4></div>
                    <div class="progress">
                        <div class="progress-bar"></div>
                    </div>
                    <a href="#" class="bs-wizard-dot"></a>
                    <div class="bs-wizard-info text-center"><p>给航飞打10块钱</p></div>
                </div>

                <div class="col-xs-3 bs-wizard-step active"><!-- complete -->
                    <div class="text-center bs-wizard-stepnum"><h4>Step 2</h4></div>
                    <div class="progress">
                        <div class="progress-bar"></div>
                    </div>
                    <a href="#" class="bs-wizard-dot"></a>
                    <div class="bs-wizard-info text-center"><p>给航飞打100块钱</p></div>
                </div>

                <div class="col-xs-3 bs-wizard-step disabled"><!-- complete -->
                    <div class="text-center bs-wizard-stepnum"><h4>Step 3</h4></div>
                    <div class="progress">
                        <div class="progress-bar"></div>
                    </div>
                    <a href="#" class="bs-wizard-dot"></a>
                    <div class="bs-wizard-info text-center"><p>给航飞打1000块钱</p></div>
                </div>

                <div class="col-xs-3 bs-wizard-step disabled"><!-- active -->
                    <div class="text-center bs-wizard-stepnum"><h4>Step 4</h4></div>
                    <div class="progress">
                        <div class="progress-bar"></div>
                    </div>
                    <a href="#" class="bs-wizard-dot"></a>
                    <div class="bs-wizard-info text-center"><p>回去等消息吧</p></div>
                </div>
            </div>

        </div>
    </div>

    <div id="fh5co-testimonial" class="fh5co-bg-section">
        <div class="container">
            <div class="row animate-box">
                <div class="col-md-6 col-md-offset-3 text-center fh5co-heading">
                    <h2>反馈</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <div class="row animate-box">
                        <div class="owl-carousel owl-carousel-fullwidth">
                            <div class="item">
                                <div class="testimony-slide active text-center">
                                    <figure>
                                        <img src="/static/images/person_1.jpg" alt="user">
                                    </figure>
                                    <span>小丽，来自<a href="#" class="twitter">微信</a></span>
                                    <blockquote>
                                        <p>&ldquo;我觉得这是我用过最棒的平台了！&rdquo;</p>
                                    </blockquote>
                                </div>
                            </div>
                            <div class="item">
                                <div class="testimony-slide active text-center">
                                    <figure>
                                        <img src="/static/images/person_2.jpg" alt="user">
                                    </figure>
                                    <span>栋栋，来自<a href="#" class="twitter">223寝室</a></span>
                                    <blockquote>
                                        <p>&ldquo;航飞，我看好你&rdquo;</p>
                                    </blockquote>
                                </div>
                            </div>
                            <div class="item">
                                <div class="testimony-slide active text-center">
                                    <figure>
                                        <img src="/static/images/person_3.jpg" alt="user">
                                    </figure>
                                    <span>阿jb豪，来自<a href="#" class="twitter">223寝室</a></span>
                                    <blockquote>
                                        <p>&ldquo;我的脚臭终于有救了！&rdquo;</p>
                                    </blockquote>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="fh5co-blog">
        <div class="container">
            <div class="row animate-box">
                <div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
                    <h2>最新课程</h2>
                    <p>以下是最新课程</p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-4">
                    <div class="fh5co-blog animate-box">
                        <a href="#"><img class="img-responsive" src="/static/images/project-4.jpg" alt=""></a>
                        <div class="blog-text">
                            <h3><a href="" #>45分钟的发呆课</a></h3>
                            <span class="posted_on">2020.11.15</span>
                            <span class="comment"><a href="">21<i class="icon-speech-bubble"></i></a></span>
                            <p>想买的随意，我不拦你</p>
                            <a href="#" class="btn btn-primary">了解详情</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4">
                    <div class="fh5co-blog animate-box">
                        <a href="#"><img class="img-responsive" src="/static/images/project-2.jpg" alt=""></a>
                        <div class="blog-text">
                            <h3><a href="" #>45分钟的阿jb豪音乐会</a></h3>
                            <span class="posted_on">2020.11.15</span>
                            <span class="comment"><a href="">21<i class="icon-speech-bubble"></i></a></span>
                            <p>想买随意，我也不拦你</p>
                            <a href="#" class="btn btn-primary">了解详情</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4">
                    <div class="fh5co-blog animate-box">
                        <a href="#"><img class="img-responsive" src="/static/images/project-3.jpg" alt=""></a>
                        <div class="blog-text">
                            <h3><a href="" #>45钟的催眠课</a></h3>
                            <span class="posted_on">2020.11.15</span>
                            <span class="comment"><a href="">21<i class="icon-speech-bubble"></i></a></span>
                            <p>想买随意，我也不拦你</p>
                            <a href="#" class="btn btn-primary">了解详情</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div id="fh5co-started" style="background-image:url(/static/images/img_bg_2.jpg);">
        <div class="overlay"></div>
        <div class="container">
            <div class="row animate-box">
                <div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
                    <h2>让我们开始上课吧</h2>
                    <p>可是我一点也不想上课</p>
                </div>
            </div>
            <div class="row animate-box">
                <div class="col-md-8 col-md-offset-2 text-center">
                    <p><a href="#" class="btn btn-default btn-lg">创建免费课程</a></p>
                </div>
            </div>
        </div>
    </div>

    <footer id="fh5co-footer" role="contentinfo">
        {#		<div class="container">#}
        {#			<div class="row row-pb-md">#}
        {#				<div class="col-md-3 fh5co-widget">#}
        {#					<h4>About Learning</h4>#}
        {#					<p>Facilis ipsum reprehenderit nemo molestias. Aut cum mollitia reprehenderit. Eos cumque dicta adipisci architecto culpa amet.</p>#}
        {#				</div>#}
        {#				<div class="col-md-2 col-sm-4 col-xs-6 col-md-push-1">#}
        {#					<h4>Learning</h4>#}
        {#					<ul class="fh5co-footer-links">#}
        {#						<li><a href="#">Course</a></li>#}
        {#						<li><a href="#">Blog</a></li>#}
        {#						<li><a href="#">Contact</a></li>#}
        {#						<li><a href="#">Terms</a></li>#}
        {#						<li><a href="#">Meetups</a></li>#}
        {#					</ul>#}
        {#				</div>#}
        {##}
        {#				<div class="col-md-2 col-sm-4 col-xs-6 col-md-push-1">#}
        {#					<h4>Learn &amp; Grow</h4>#}
        {#					<ul class="fh5co-footer-links">#}
        {#						<li><a href="#">Blog</a></li>#}
        {#						<li><a href="#">Privacy</a></li>#}
        {#						<li><a href="#">Testimonials</a></li>#}
        {#						<li><a href="#">Handbook</a></li>#}
        {#						<li><a href="#">Held Desk</a></li>#}
        {#					</ul>#}
        {#				</div>#}
        {##}
        {#				<div class="col-md-2 col-sm-4 col-xs-6 col-md-push-1">#}
        {#					<h4>Engage us</h4>#}
        {#					<ul class="fh5co-footer-links">#}
        {#						<li><a href="#">Marketing</a></li>#}
        {#						<li><a href="#">Visual Assistant</a></li>#}
        {#						<li><a href="#">System Analysis</a></li>#}
        {#						<li><a href="#">Advertise</a></li>#}
        {#					</ul>#}
        {#				</div>#}
        {##}
        {#				<div class="col-md-2 col-sm-4 col-xs-6 col-md-push-1">#}
        {#					<h4>Legal</h4>#}
        {#					<ul class="fh5co-footer-links">#}
        {#						<li><a href="#">Find Designers</a></li>#}
        {#						<li><a href="#">Find Developers</a></li>#}
        {#						<li><a href="#">Teams</a></li>#}
        {#						<li><a href="#">Advertise</a></li>#}
        {#						<li><a href="#">API</a></li>#}
        {#					</ul>#}
        {#				</div>#}
        {#			</div>#}
        {##}
        <div class="row copyright">
            <div class="col-md-12 text-center">
                <p>
                    <small class="block">&copy; 2019 傅航飞 Corporation. All rights reserved</small>
                </p>
                <p>
                <ul class="fh5co-social-icons">
                    <li><a href="#"><i class="icon-twitter"></i></a></li>
                    <li><a href="#"><i class="icon-facebook"></i></a></li>
                    <li><a href="#"><i class="icon-linkedin"></i></a></li>
                    <li><a href="#"><i class="icon-dribbble"></i></a></li>
                </ul>
                </p>
            </div>
        </div>



</footer>
</div>

<div class="gototop js-top">
    <a href="#" class="js-gotop"><i class="icon-arrow-up"></i></a>
</div>


<!-- login -->
<div class="modal fade" id="myModal4" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content modal-info">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="closea"><span
                        aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body modal-spa">
                <div class="login-grids">
                    <div>
                        <div class="login-right">
                            <form>
                                <h3>登录你的学生账号</h3>
                                <input id='stuid' type="text" name="stu-id" value="" placeholder="输入你的学号" equired>
                                <input id='stupsw' type="password" name="stu-psw" value="" placeholder="密码" required>
                                <h4><a href="#">忘记密码？</a> / <a href="#" id="turn2signup">注册学生账号</a></h4>
                                <div class="single-bottom">
                                    <input type="checkbox" id="brand" value="">
                                    <label for="brand"><span></span>记住账号</label>
                                </div>
                                <input type="submit" value="登录" onclick="return loginstu()">
                            </form>
                        </div>
                        <div class="clearfix"></div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<!-- //login -->

<!-- signup -->
<div class="modal fade" id="myModal5" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document" style="width:400px">
        <div class="modal-content modal-info">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="closeb"><span
                        aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body modal-spa">
                <div class="login-grids" >
                    <div class="login" >
                        <div class="login-right">
                            <form name="signup-stu" action="/reg-stu">
                                <h3>注册学生账号</h3>
                                <input  id="stu-id" name="stu-id" type="text" value="" placeholder="输入你的学号" required>
                                <text class="wrongtext" id="ajaxid"></text>
                                <input id="stu-name" name="stu-name" type="text" value="" placeholder="输入你的姓名" required>
                                <text class="wrongtext" id="wrong-name"></text>
                                <input id="stu-major" type="text" value="" placeholder="输入你的专业" required>
                                <text class="wrongtext" id="wrong-major"></text>
                                <input id="psw" name="psw" type="password" value="" placeholder="输入密码" required>
                                <input id="psw2" name="psw2" type="password" value="" placeholder="确认密码" required>
                                <div class="wrongtext" id="psw-wrong"></div>
                                <input type="submit" value="注册账号" id="reg-stu" onclick="return ifok()">
                            </form>
                        </div>
                        <div class="clearfix"></div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<!-- //signup -->


<!-- login -->
<div class="modal fade" id="myModal6" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content modal-info">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="closea"><span
                        aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body modal-spa">
                <div class="login-grids2">
                    <div>
                        <div class="login-right2">
                            <form>
                                <h3>登录你的教师账号</h3>
                                <input id="teacherid" type="text" value="" placeholder="输入你的工号" equired>
                                <input id="teacherpsw" type="password" value="" placeholder="密码" required>
                                <h4><a href="#">忘记密码？</a> / <a href="#" id="turn2signup2">注册教师账号</a></h4>
                                <div class="single-bottom">
                                    <input type="checkbox" id="brand" value="">
                                    <label for="brand"><span></span>记住账号</label>
                                </div>
                                <input type="submit" value="登录" onclick="return loginteacher()">
                            </form>
                        </div>
                        <div class="clearfix"></div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<!-- //login -->

<!-- signup -->
<div class="modal fade" id="myModal7" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document" style="width:400px">
        <div class="modal-content modal-info">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="closeb"><span
                        aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body modal-spa">
                <div class="login-grids2">
                    <div>
                        <div class="login-right2" >
                            <form>
                                <h3>注册教师账号</h3>
                                <input id='teacher-id' type="text" value="" placeholder="输入你的工号" required>
                                <text class="wrongtext" id="ajaxid2"></text>
                                <input id='teacher-name' type="text" value="" placeholder="输入你的姓名" required>
                                <text class="wrongtext" id="wrong-name2"></text>
                                <input id='tpsw' type="password" value="" placeholder="输入密码" required>
                                <input id='tpsw2' type="password" value="" placeholder="确认密码" required>
                                <text class="wrongtext" id="wrongpsw2"></text>
                                <input type="submit" value="注册账号" onclick="return ifok2()">
                            </form>
                        </div>
                        <div class="clearfix"></div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<!-- //signup -->

<!-- jQuery -->
<script src="/static/js/jquery.min.js"></script>
<!-- jQuery Easing -->
<script src="/static/js/jquery.easing.1.3.js"></script>
<!-- Bootstrap -->
<script src="/static/js/bootstrap.min.js"></script>
<!-- Waypoints -->
<script src="/static/js/jquery.waypoints.min.js"></script>
<!-- Stellar Parallax -->
<script src="/static/js/jquery.stellar.min.js"></script>
<!-- Carousel -->
<script src="/static/js/owl.carousel.min.js"></script>
<!-- countTo -->
<script src="/static/js/jquery.countTo.js"></script>
<!-- Magnific Popup -->
<script src="/static/js/jquery.magnific-popup.min.js"></script>
<script src="/static/js/magnific-popup-options.js"></script>
<!-- Main -->
<script src="/static/js/main.js"></script>

<!-- js -->
<script>
    var stuflag1=0;
    var stuflag2=0;
    var stuflag3=0;
    var stuflag4=0;
    var tflag1=0;
    var tflag2=0;
    var tflag3=0;
    $(function () { // 页面装载执行
        $("#turn2signup").click(function () { // 为ID为toa的标签绑定click事件
            //$("#tob").click(); // 触发ID为tob标签的click事件
            $('#myModal4').modal('hide')
            setTimeout("$('#myModal5').modal();", 400);
        });
    });

    $(function () { // 页面装载执行
        $("#turn2signup2").click(function () { // 为ID为toa的标签绑定click事件
            //$("#tob").click(); // 触发ID为tob标签的click事件
            $('#myModal6').modal('hide')
            setTimeout("$('#myModal7').modal();", 400);
        });
    });

{#########学生注册js控制#############}
    $("#stu-name").focus(function () {
        $("#wrong-name").text("")
    });
    $("#stu-name").blur(function () {
        if($("#stu-name").val()=='')
        {
             $("#wrong-name").text("*姓名不能为空");
             $("#wrong-name").css("color", "#e98a42");
            stuflag3=0;
        }
        else
        {
            stuflag3=1;
        }
    });

    $("#stu-major").focus(function () {
        $("#wrong-major").text("")
    });
    $("#stu-major").blur(function () {
        if($("#stu-major").val()=='')
        {
             $("#wrong-major").text("*专业不能为空");
             $("#wrong-major").css("color", "#e98a42");
            stuflag4=0;
        }
        else
        {
            stuflag4=1
        }
    });
    $("#psw2").focus(function () {
        $("#psw-wrong").text("")
    });
    $("#psw").focus(function () {
        $("#psw-wrong").text("")
    });
    function jgpsw(){
        if ($("#psw").val() != $("#psw2").val()) {
            $("#psw-wrong").text("*两次输入不一致")
            $("#psw-wrong").css("color", "#e98a42");
            stuflag2=0;
        } if ($("#psw").val() == $("#psw2").val() && $("#psw").val()!='')  {
            $("#psw-wrong").text("")
            stuflag2=1;
        }
        if ($("#psw").val()=='' && $("#psw2").val()=='')  {
            $("#psw-wrong").text("*密码不能为空")
            $("#psw-wrong").css("color", "#e98a42");
            stuflag2=0;
        }
    }
    $("#psw2").blur(function () {
        jgpsw()
    });
    $("#psw").blur(function () {
      jgpsw()
    });
    $("#stu-id").focus(function () {
        $("#ajaxid").text("")
    });
    $("#stu-id").blur(function () {
        $.ajax({
            url: "/checkstu",
            data: {"stu-id": $('#stu-id').val()},
            type: "POST",
            dataType: "TEXT",
            success: function (data) {
                var state = JSON.parse(data);
                if (state.ifok == "false") {
                    $("#ajaxid").text("*该学号已被注册");
                    $("#ajaxid").css("color", "#e98a42");
                    stuflag1=0;
                }
                if (state.ifok == "true"){
                    $("#ajaxid").text("可以注册");
                    $("#ajaxid").css("color", "#48cfc1");
                    stuflag1=1
                }
                if($('#stu-id').val()=='')
                {
                    $("#ajaxid").text("*学号不能为空");
                    $("#ajaxid").css("color", "#e98a42");
                    stuflag1=0;
                }
            }
        })

    });
    function regstu() {
        $.ajax({
            url: "/regstu",
            data: {"stu-id": $('#stu-id').val(),
                   "stu-name":$('#stu-name').val(),
                    "stu-major":$('#stu-major').val(),
                    "stu-psw" : $('#psw').val()
            },
            type: "POST",
            dataType: "TEXT",
            success: function (data) {
                var state = JSON.parse(data);
                if (state.ifok == "false") {
                    alert("注册失败！");
                }
                if (state.ifok == "true"){
                    alert("注册成功！");
                    $('#myModal5').modal('hide')
                    setTimeout("$('#myModal4').modal();", 400);
                }
            }
        })
    }

    function ifok() {
         if(stuflag1+stuflag2+stuflag3+stuflag4==4)
        {
            regstu();
            return false;
        }
         return false;
    }

    {#########教师注册js控制#############}
    $("#teacher-id").focus(function () {
        $("#ajaxid2").text("")
    });
    $("#teacher-id").blur(function () {
        $.ajax({
            url: "/checkteacher",
            data: {"teacher-id": $('#teacher-id').val()},
            type: "POST",
            dataType: "TEXT",
            success: function (data) {
                var state = JSON.parse(data);
                if (state.ifok == "false") {
                    $("#ajaxid2").text("*该工号已被注册");
                    $("#ajaxid2").css("color", "#e98a42");
                    tflag1=0;
                }
                if (state.ifok == "true"){
                    $("#ajaxid2").text("可以注册");
                    $("#ajaxid2").css("color", "#48cfc1");
                    tflag1=1
                }
                if($("#teacher-id").val()=='')
                {
                    $("#ajaxid2").text("*工号不能为空");
                    $("#ajaxid2").css("color", "#e98a42");
                    tflag1=0;
                }
            }
        })

    });
     $("#teacher-name").focus(function () {
        $("#wrong-name2").text("");
    });
    $("#teacher-name").blur(function () {
        if($("#teacher-name").val()=='')
        {
             $("#wrong-name2").text("*姓名不能为空");
            tflag3=0;
        }
        else
        {
            tflag3=1;
        }
    });


    $("#tpsw").focus(function () {
        $("#wrongpsw2").text("")
    });
    $("#tpsw2").focus(function () {
        $("#wrongpsw2").text("")
    });
    function jgpsw2(){
        if ($("#tpsw").val() != $("#tpsw2").val()) {
            $("#wrongpsw2").text("*两次输入不一致")
            $("#wrongpsw2").css("color", "#e98a42");
            tflag2=0;
        } if ($("#tpsw").val() == $("#tpsw2").val() && $("#tpsw").val()!='')  {
            $("#wrongpsw2").text("")
            tflag2=1;
        }

        if ($("#tpsw").val()=='' && $("#tpsw2").val()=='')  {
            $("#wrongpsw2").text("*密码不能为空")
            $("#wrongpsw2").css("color", "#e98a42");
            tflag2=0;
        }
    }
    $("#tpsw2").blur(function () {
        jgpsw2()
    });
    $("#tpsw").blur(function () {
      jgpsw2()
    });
     function regteacher() {
        $.ajax({
            url: "/regteacher",
            data: {"teacher-id": $('#teacher-id').val(),
                   "teacher-name":$('#teacher-name').val(),
                    "teacher-psw" : $('#tpsw').val()
            },
            type: "POST",
            dataType: "TEXT",
            success: function (data) {
                var state = JSON.parse(data);
                if (state.ifok == "false") {
                    alert("注册失败！");
                }
                if (state.ifok == "true"){
                    alert("注册成功！");
                    $('#myModal7').modal('hide');
                    setTimeout("$('#myModal6').modal();", 400);
                }
            }
        })
    }
    function ifok2() {
        if(tflag1+tflag2+tflag3==3)
        {
            regteacher();
            return false;
        }
         return false;
    }
    function loginstu() {
        $.ajax({
            url: "/loginstu",
            data: {"stu-id": $('#stuid').val(),
                    "stu-psw" : $('#stupsw').val()
            },
            type: "POST",
            dataType: "TEXT",
            success: function (data) {
                var state = JSON.parse(data);
                if (state.ifok == "false") {
                    alert("登录失败！账号或密码错误");
                }
                if (state.ifok == "true"){
                    alert("登录成功")
                    window.location.href='/student'
                }
            }
        })
        return false;
    }

    function loginteacher() {
        $.ajax({
            url: "/loginteacher",
            data: {"teacher-id": $('#teacherid').val(),
                    "teacher-psw" : $('#teacherpsw').val()
            },
            type: "POST",
            dataType: "TEXT",
            success: function (data) {
                var state = JSON.parse(data);
                if (state.ifok == "false") {
                    alert("登录失败！账号或密码错误");
                }
                if (state.ifok == "true"){
                    alert("登录成功")
                    window.location.href='/teacher'
                }
            }
        })
        return false;
    }
</script>
</body>
</html>